<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入账号">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="账号: admin" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="密码: 123456" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">{{ 'app.login.remember-me' | translate }}</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" (click)="msg.error('自裁谢罪吧！因为暂未实现。。。')">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
<div class="other">
  {{ 'app.login.sign-in-with' | translate }}
  <i nz-tooltip nzTooltipTitle="in fact Auth0 via window" (click)="open('auth0', 'window')" nz-icon nzType="alipay-circle" class="icon"></i>
  <i nz-tooltip nzTooltipTitle="in fact Github via redirect" (click)="open('github')" nz-icon nzType="taobao-circle" class="icon"></i>
  <i (click)="open('weibo', 'window')" nz-icon nzType="weibo-circle" class="icon"></i>
  <a class="register" routerLink="/passport/register">{{ 'app.login.signup' | translate }}</a>
</div>
