<div class="alain-default__progress-bar" *ngIf="isFetching"></div>
<layout-header class="alain-default__header"></layout-header>
<layout-sidebar class="alain-default__aside"></layout-sidebar>
<section class="alain-default__content">
  <router-outlet></router-outlet>
  <footer style="text-align: center">
    <p>
      Copyright <i nz-icon nzType="copyright" nzTheme="outline"></i> 2021
      <a href="http://yedajiang44.com" target="_blank">yedajiang44.com</a>
    </p>
  </footer>
</section>
<ng-template #settingHost></ng-template>
